.bg-Text{
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-Text-display{
    background-image: url(../img/background2.jpg);
    /*
	background-size: contain;
    background-repeat: repeat;
	*/
	background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 1024px 768px;
}

.bg-noText{
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

.ss-card{
/*    box-shadow: 2px 2px 10px #888888;*/
	background-color: transparent;
}

.text-center{
    text-align: center;
}

.QuestionDiagram-hidden{
    height: 0px;
    display: none;
}

.QuestionDiagram-visible{
    height: 200px;
    display: block;
    margin: auto;
}

.center{
    margin: auto;
    width: 60%;
    padding: 70px;
    text-align: center;
}

.center2{
    margin: auto;
    width: 75%;
    padding: 1px;
    text-align: center;
}

.btn-bt{
    height: 50px;
}
.center3{
	width: 200px;
    margin:0 auto;
    text-align:center;
}